*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2980b9;
}
header {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/12877287\ \(2\).png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.navbar{
  position: absolute;
  width: 100%;
}
.navbar-brand img {
  width: 50px;
  border-radius: 50%;
  transition: 0.5s;
}
.navbar-brand img:hover {
  transform: scale(1.1);
}
.nav-item {
  font-size: 20px;
}
.btn-bottom {
  display: block;
  margin: 80vh auto;
  

  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
}
.fa-arrow-down{
position: relative;
animation: upAndDown 2s infinite;
}

@keyframes upAndDown {
  0% {
    bottom: 0px;
  }

  50% {
    bottom: 10px;
  }

  100% {
    bottom: 0px;
  }
}
