.navbarImage {
  width: 50px;
  border-radius: 50%;
}
.nav-link {
  color: white;
  
}
.nav-link:hover {
  color: #f5cb5c;
}

.navbar-toggler {
  background-color: #e8eddf;
}

#presentation {
  background-color: #cfdbd5;
}
.title {
  font-family: "Prompt", sans-serif;
}

.navbar-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
}
.logoCenter {
  max-width: 250px;
  border-radius: 50%;
}
.textPresentation {
  font-size: 25px;
}
.imgPresentation {
  max-width: 600px;
}

.carouselImg {
  margin-top: 75px;
}

#processus {
  background-color: #f5cb5c;
}

.card {
  padding: 0;
}

